<!DOCTYPE html>
<html lang="en">
    <head>
        <!--====== Required meta tags ======-->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--====== Title ======-->
        <title>Induxter - Industry And Factory HTML Theme</title>
        <!--====== Favicon Icon ======-->
        <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/png">
        <!--====== Bootstrap css ======-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!--====== Flaticon css ======-->
        <link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css">
        <!--====== Iconfont css ======-->
        <link rel="stylesheet" href="assets/fonts/icofont/icofont.css">
        <!--====== Gilory css ======-->
        <link rel="stylesheet" href="assets/fonts/gilory/gilory.css">
        <!--====== Magnific Popup css ======-->
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <!--====== Slick css ======-->
        <link rel="stylesheet" href="assets/css/slick.css">
        <!--====== nice-select css ======-->
        <link rel="stylesheet" href="assets/css/nice-select.css">
        <!--====== Default css ======-->
        <link rel="stylesheet" href="assets/css/default.css">
        <!--====== Style css ======-->
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <!--====== Start Preloader ======-->
        <div class="preloader">
            <div class="lds-ellipsis">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <!--====== End Preloader ======-->
        <!--====== Start Header ======-->
        <header class="header-area header-area-v1">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="top-left">
                                <ul>
                                    <li><span><i class="flaticon-factory"></i> We work with global industries!</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="top-right">
                                <ul class="social-link">
                                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                                    <li><a href="#"><i class="icofont-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-navigation">
                <div class="nav-container">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-3 logo-col col-6">
                                <div class="site-branding">
                                    <div class="brand-logo">
                                        <a href="index.html"><img src="assets/images/logo-1.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-6">
                                <div class="nav-menu">
                                    <!-- Navbar Close Icon -->
                                    <div class="navbar-close">
                                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                    </div>
                                    <nav class="main-menu">
                                        <ul>
                                            <li class="menu-item menu-item-has-children"><a href="index.html">Home</a>
                                                <ul class="sub-menu">
                                                    <li><a href="index.html">Home 01</a></li>
                                                    <li><a href="index-2.html">Home 02</a></li>
                                                    <li><a href="onepage-home.html">Home Onepage</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item"><a href="about.html">About</a></li>
                                            <li class="menu-item menu-item-has-children"><a href="#">Project</a>
                                                <ul class="sub-menu">
                                                    <li><a href="project.html">Project</a></li>
                                                    <li><a href="project-details.html">Project Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children"><a href="#">Pages</a>
                                                <ul class="sub-menu">
                                                    <li><a href="service.html">Our Service</a></li>
                                                    <li><a href="service-details.html">Service Details</a></li>
                                                    <li><a href="team.html">Our Team</a></li>
                                                    <li><a href="team-details.html">Team Details</a></li>
                                                    <li><a href="404.html">404</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children"><a href="#">Blog</a>
                                                <ul class="sub-menu">
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item"><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Navbar Toggler -->
                                <div class="navbar-toggler float-right">
                                    <span></span><span></span><span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header><!--====== End Header ======-->
        <!--====== Start breadcrumbs-section ======-->
        <section class="breadcrumbs-section bg_cover" style="background-image: url(assets/images/bg/breadcrumbs-bg.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="breadcrumbs-content">
                            <h1>Service Dtails</h1>
                            <ul class="link">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">Service</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End breadcrumbs-section ======-->
        <!--====== Start service-details-section ======-->
        <section class="service-details-section pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="service-details-wrapper">
                            <div class="service-img">
                                <img src="assets/images/service/single-service-1.jpg" alt="">
                            </div>
                            <div class="service-content">
                                <h3 class="title">How Can We Help?</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore mag
                                    na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons
                                    equat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                    sint occaecat cupidatat non proident.</p>
                                <blockquote class="blockquote">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                        voluptate velit esse cillum pariatur.</p>
                                </blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore mag
                                    na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons
                                    equat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                    sint occaecat cupidatat non proident.</p>
                                <div class="content-box mb-40">
                                    <div class="row align-items-stretch">
                                        <div class="col-lg-6">
                                            <div class="content">
                                                <h3>Why You Should Working
                                                    With Us?</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                                    scing elit, sed do eiusmod tempor incididunt
                                                    labore et dolore magna aliqua. Ut enim ad
                                                    minim veniam, quis nostrud exercitation and
                                                    ullamco laboris.</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adip
                                                    scing elit, sed do eiusmod tempor incididunt
                                                    labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="block-img">
                                                <img src="assets/images/service/single-service-2.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="how-work-box">
                                    <h3>How It Work?</h3>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="work-item mb-30">
                                                <div class="work-title">
                                                    <span class="icon">1</span>
                                                    <h4>Idea
                                                            Generate</h4>
                                                </div>
                                                <div class="work-content">
                                                    <p>Lorem ipsum dolor sit am
                                                        consectetur adipiscing elit
                                                        eiusmod tempor indidunt
                                                        labore dolore mag aliqua
                                                        minim veniam.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="work-item mb-30">
                                                <div class="work-title">
                                                    <span class="icon">2</span>
                                                    <h4>Industrial
                                                            Works</h4>
                                                </div>
                                                <div class="work-content">
                                                    <p>Lorem ipsum dolor sit am
                                                        consectetur adipiscing elit
                                                        eiusmod tempor indidunt
                                                        labore dolore mag aliqua
                                                        minim veniam.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="work-item mb-30">
                                                <div class="work-title">
                                                    <span class="icon">3</span>
                                                    <h4>Project
                                                        Launch</h4>
                                                </div>
                                                <div class="work-content">
                                                    <p>Lorem ipsum dolor sit am
                                                        consectetur adipiscing elit
                                                        eiusmod tempor indidunt
                                                        labore dolore mag aliqua
                                                        minim veniam.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="faq-area">
                                <div class="block-img mb-40">
                                    <img src="assets/images/service/single-service-3.jpg" alt="">
                                </div>
                                <div class="faq-wrapper">
                                    <h3>Frequently Asked Question?</h3>
                                    <div class="accordion" id="accordiontwo">
                                        <div class="card mb-30">
                                            <a class="collapsed card-header" id="heading1" href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                                Do you have a nursing station?<span class="toggle_btn"></span>
                                            </a>
                                            <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordiontwo">
                                                <div class="card-body">
                                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt labore
                                                        na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                                        equat. Duis aute irure dolor in reprehender.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-30">
                                            <a class="collapsed card-header" id="heading2" href="#" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                                When should I arrive before my scheduled attraction?<span class="toggle_btn"></span>
                                            </a>
                                            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordiontwo">
                                                <div class="card-body">
                                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt labore
                                                        na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                                        equat. Duis aute irure dolor in reprehender.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-30">
                                            <a class="collapsed card-header" id="heading3" href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                                What payment methods ae available?<span class="toggle_btn"></span></a>
                                            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordiontwo">
                                                <div class="card-body">
                                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt labore
                                                        na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                                        equat. Duis aute irure dolor in reprehender.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-30">
                                            <a class="collapsed card-header" id="heading4" href="#" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                                Is there free parking?<span class="toggle_btn"></span></a>
                                            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordiontwo">
                                                <div class="card-body">
                                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt labore
                                                        na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                                        equat. Duis aute irure dolor in reprehender.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="sidebar-widget-area">
                            <div class="widget widget-catageory mb-40">
                                <h4 class="widget-title">Our Services</h4>
                                <ul class="categeory-link">
                                    <li><a href="#">Construction & Engineering</a></li>
                                    <li><a href="#">Mechanical Engineering</a></li>
                                    <li><a href="#">Basic & Industrial Chemicals</a></li>
                                    <li><a href="#">Bridge Construction</a></li>
                                    <li><a href="#">Investment And Planning</a></li>
                                </ul>
                            </div>
                            <div class="widget widget-cta mb-40">
                                <div class="cta-content bg_cover text-center" style="background-image: url(assets/images/blog/cta-bg.jpg);">
                                    <h3>Make a call for
                                        any type query.</h3>
                                    <i class="icofont-ui-call"></i>
                                    <h4 class="call"><a href="tel:+00 568 463 46">+00 568 463 46</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End service-details-section ======-->
        <!--====== Start Footer ======-->
        <footer class="footer-area footer-area-v1 bg_cover"  style="background-image: url(assets/images/bg/footer-bg-1.jpg);">
            <div class="footer-widget pt-120 pb-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget about-widget mb-40">
                                <img src="assets/images/logo-footer.png" alt="">
                                <p>Lorem ipsum lipsum as is sometimes
                                    known dummy text used laying the
                                    century who is thought.</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                                    <li><a href="#"><i class="icofont-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget widget-categories mb-40">
                                <h4 class="widget-title">Quick Link</h4>
                                <ul class="widget-link">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Blog Post</a></li>
                                    <li><a href="#">Guidelines</a></li>
                                    <li><a href="#">Contact </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget newsletter-widget mb-40">
                                <h4 class="widget-title">Subscribe Now</h4>
                                <div class="newsletter-form mb-20">
                                    <form>
                                        <div class="form_group">
                                            <input type="email" class="form_control" placeholder="support24@gmail.com" name="email">
                                            <button class="newsletter-btn"><i class="icofont-arrow-right"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="newsletter-info">
                                    <h5>Give us a free call:</h5>
                                    <p><a href="tel:+1800456324">(+1) 800 456324</a> or <a href="tel:+1555456325">(+1) 555 456325</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget instragram-widget mb-40">
                                <h4 class="widget-title">Instragram</h4>
                                <ul class="instagram-list">
                                    <li><a href="#"><img src="assets/images/instagram/1.jpg" alt="">
                                        <div class="insta-overlay">
                                            <i class="icofont-plus"></i>
                                        </div>
                                    </a></li>
                                    <li><a href="#"><img src="assets/images/instagram/2.jpg" alt="">
                                        <div class="insta-overlay">
                                            <i class="icofont-plus"></i>
                                        </div>
                                    </a></li>
                                    <li><a href="#"><img src="assets/images/instagram/3.jpg" alt="">
                                        <div class="insta-overlay">
                                            <i class="icofont-plus"></i>
                                        </div>
                                    </a></li>
                                    <li><a href="#"><img src="assets/images/instagram/4.jpg" alt="">
                                        <div class="insta-overlay">
                                            <i class="icofont-plus"></i>
                                        </div>
                                    </a></li>
                                    <li><a href="#"><img src="assets/images/instagram/5.jpg" alt="">
                                        <div class="insta-overlay">
                                            <i class="icofont-plus"></i>
                                        </div>
                                    </a></li>
                                    <li><a href="#"><img src="assets/images/instagram/6.jpg" alt="">
                                        <div class="insta-overlay">
                                            <i class="icofont-plus"></i>
                                        </div>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="copyright-text text-center">
                                <p>Copyright © 2020. All right reserved. Design by <span>themedraft</span>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!--====== End Footer ======-->
        <!--====== back-to-top ======-->
        <a href="#" class="back-to-top" ><i class="flaticon-up-arrow-angle"></i></a>
        <!--====== Jquery js ======-->
        <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
        <!--====== Bootstrap js ======-->
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <!--====== Slick js ======-->
        <script src="assets/js/slick.min.js"></script>
        <!--====== Magnific Popup js ======-->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!--====== Isotope js ======-->
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <!--====== Imagesloaded js ======-->
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <!--====== nice-select js ======-->
        <script src="assets/js/jquery.nice-select.min.js"></script>
        <!--====== counterup js ======-->
        <script src="assets/js/jquery.counterup.min.js"></script>
        <!--====== waypoints js ======-->
        <script src="assets/js/waypoints.min.js"></script>
        <!--====== Main js ======-->
        <script src="assets/js/main.js"></script>
    </body>
</html>