@charset "utf-8";

/* CSS Document */
@media all and (min-width: 1251px) and (max-width: 1331px) {
	ul.navbar-nav.main_nav.adjust{margin-left: 0;}
	a.navbar-brand.logo_header {width: 14%;}
	.navbar-collapse-res{width: 86%;}
	.navbar-nav.main_nav a{font-size: 14px;padding: 0 20px;}
	ul.navbar-nav.main_nav.adjust {width: 90%;margin-left: 0;}
	.serach_user_area{width: 10%;}
	.serach_user_area a{padding-left: 0;}
	.serach_user_area a:nth-child(2){padding-left: 20px;}
    .outer_area{min-height: 346px;}
}
@media all and (min-width: 1001px) and (max-width: 1250px) {
.outer_area{min-height: 346px;}
	ul.navbar-nav.main_nav.adjust{margin-left: 0;}
	a.navbar-brand.logo_header {width: 14%;}
	.navbar-collapse-res{width: 86%;}
	.navbar-nav.main_nav a{font-size: 12px;padding: 0 14px;}
	ul.navbar-nav.main_nav.adjust {width: 90%;margin-left: 0;}
	.serach_user_area{width: 10%;}
	.serach_user_area a{padding-left: 0;}
	.serach_user_area a:nth-child(2){padding-left: 20px;}
}
@media all and (min-width: 992px) and (max-width: 1000px) {
	ul.navbar-nav.main_nav.adjust{margin-left: 0;}
	a.navbar-brand.logo_header {width: 10%;}
	.navbar-collapse-res{width: 90%;}
	.navbar-nav.main_nav a{font-size: 12px;padding: 0 14px;}
	ul.navbar-nav.main_nav.adjust {width: 90%;margin-left: 0;}
	.serach_user_area{width: 10%;}
	.serach_user_area a{padding-left: 0;}
	.serach_user_area a:nth-child(2){padding-left: 10px;}
}
@media all and (min-width: 100px) and (max-width: 991px) {
	ul.navbar-nav.main_nav.adjust {text-align: center;margin: 0 auto;}
	.adjust > li {position: relative;border-bottom: 1px solid #ccc;padding: 15px 0;}
	.serach_user_area {padding: 22px 0;width: 100px;margin: 0 44%;}
    .menu-item-63 i { padding-left: 0px; float: inherit;}
    .actualites_sec ul li img {width: 100%; height: auto; }
}

@media all and (min-width: 961px) and (max-width: 1200px) {
	.outer_area h3{font-size: 22px;}
	.just_heading h2{width: 80%;}
	.heading_sec.break-h h2 {font-size: 30px;}
    .outer_area{min-height: 346px;}
}
@media all and (min-width: 100px) and (max-width: 1199px){
	.calender_outer .mec-calendar .mec-calendar-events-side{
		width: 100%;
		margin-left: 0px;
	}
	.calender_outer .mec-calendar .mec-calendar-header{
		width: 100% !important;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		padding-top: 0px !important;
	}
}
@media all and (min-width: 100px) and (max-width: 960px){
	.calender_outer .mec-calendar .mec-calendar-side{
		width: 100% !important;
	}
	.calender_outer .mec-calendar .mec-calendar-header h2{
		margin-top: 0px !important;
	}
	.calender_sec{
		padding:30px 0px;
	}
}
@media all and (min-width: 769px) and (max-width: 960px) {
	.left_cal{width: 100%;}
	.right_des{width: 100%;margin-left: 0;margin-top: 40px;}
	.search-top-sec h2{font-size: 46px;}
	.search_input{padding: 3px 5px;}
	.search_box_outer{padding: 20px;}
	.right_search_sec > ul > li{padding: 40px 40px 52px}
	.carousel-caption.textdata h1{font-size: 34px;}
	.carousel-caption.d-none.d-md-block.textdata{top: 20%;}
	.status_sec ul li h3{font-size: 26px;}
	.status_sec ul li p{font-size: 14px;line-height: 21px;}
	.heading_sec h2 {font-size: 30px;line-height: 33px;}
	.outer_area h3{font-size: 20px;line-height: 24px;}
	.votrebusiness_sec ul li{width: 47%;margin-left: 3%;margin-bottom: 16px;}
	.votrebusiness_sec ul li:nth-child(3n+1){margin-left: 2.7%;}
	.votrebusiness_sec ul li:nth-child(2n+1){margin-left: 0;}
	.outer_area{min-height: 280px;}
	.right_side_des{width: 60%;}
	.footer_logo_sec{width: 100%;}
	footer ul{width: 100%;}
	.map_right_des{width: 43%;margin-left: 5%;}
	.reprehenderit{width: 100%;margin: 100px 0;}
	.loction_des_area{width: 100%; margin: 10px 0 100px}
	.form_main{width: 100%;margin: 0;padding: 65px 32px;}
	.send_btn_submit{width: 140px;}
	.contact_us_sec h2{font-size: 32px;}
	.contact_us_sec {width: 100%;}
	.sommes‑nous ul li {width: 100%;margin-left: 0;margin-bottom: 30px;}
	.map_right_des ul li{font-size: 16px;}
	.pro_des h3{font-size: 22px;}
	.cliquez_ici-sec{margin: 30px 0 0px}
	.heading_sub{width: 100%;}
}
@media all and (min-width: 100px) and (max-width: 768px) {
	.nouvelles_lists ul li{font-size: 50px;}
	.heading_sub{width: 100%;}
	.blog_detile{width: 100%;}
	.nouvelles_lists ul li img{text-align: center;}
	.left_cal{width: 100%;}
	.nbs-flexisel-nav-left{left: 87% !important;}
	.events-slider h2{font-size: 18px;}
	.right_des{width: 100%;margin-left: 0;margin-top: 40px;}
    .partenaires_sec ul li{width: 48%;margin-left: 4%;}
    .partenaires_sec ul li:nth-child(3n+1){margin-left: 4%;}
    .partenaires_sec ul li:nth-child(2n+1){margin-left: 0;}
	.search-top-sec h2{font-size: 38px;}
	.search_input{width: 80%;}
	.search-submit{width: 20%;}
	.left_search_sec{width: 100%;}
	.right_search_sec{width: 100%;margin-left: 0;margin-top: 60px;}
	.search-result{margin:70px 0 90px}
	.right_side_des h2{font-size: 52px;line-height: 64%;}
	.right_side_des a{margin-top: 30px;}
	.left_sec_contact_text h2{font-size: 28px;line-height: 38px;}
	.left_sec_contact_text{width: 100%;}
	.right_side_form_sec{width: 100%;margin-left: 0;}
	.contact_us_form{margin-bottom: 100px;}
	.map_right_des{width: 43%;margin-left: 5%;}
	.reprehenderit{width: 100%;margin: 100px 0;}
	.loction_des_area{width: 100%; margin: 10px 0 100px}
	.form_main{width: 100%;margin: 0;padding: 65px 32px;}
	.send_btn_submit{width: 140px;}
	.right_side_des{width: 70%;}
	.status_sec ul li{width: 31.3%;margin-left: 2%;}
	.status_sec ul li:nth-child(6n+1){margin-left: 2%;}
	.status_sec ul li:nth-child(3n+1){margin-left: 0;}
	.carousel-caption.textdata h1{font-size: 34px;}
	.carousel-caption.d-none.d-md-block.textdata{top: 20%;}
	.status_sec ul li h3{font-size: 26px;}
	.status_sec ul li p{font-size: 14px;line-height: 21px;}
	.heading_sec h2 {font-size: 28px;line-height: 31px;}
	.outer_area h3{font-size: 20px;line-height: 24px;}
	.votrebusiness_sec ul li{width: 47%;margin-left: 3%;margin-bottom: 16px;}
	.votrebusiness_sec ul li:nth-child(3n+1){margin-left: 2.7%;}
	.votrebusiness_sec ul li:nth-child(2n+1){margin-left: 0;}
	.outer_area{min-height: 330px;}
	.heading_and_para h2{font-size: 32px;}
	.footer_logo_sec{width: 100%; text-align: center;}
	footer ul{width: 100%;}
	.search-box{width: 265px;}
	.search-box input[type="text"]{width: 175px;}
	.contact_us_sec {width: 100%;}
	.contact_us_sec h2{font-size: 30px;line-height: 42px;}
	.left_contact_form.right_side_form{width: 100%;margin-bottom: 50px;}
	.right_side_address{width: 100%;margin-left: 0;margin-top: 0; margin-bottom: 60px;}
	.sommes‑nous ul li {width: 100%;margin-left: 0;margin-bottom: 30px;}
	.map_right_des ul li{font-size: 16px;}
	.pro_des h3{font-size: 22px;}
	.left_img_ser.left_img_pro{width: 100%;}
	.map_right_des.pro_des{width: 100%;margin-left: 0;}
	.cliquez_ici-sec{margin-top: 0;}
	.sommes‑nous{margin: 60px 0 40px}
    .patner-banner h2{font-size: 34px;}
    .patner-banner p{font-size: 16px;}
    .heading_partner{width: 100%;}
    .partner-des-right{width: 100%;}
	.right_side_form.contact_f{width: 100%;margin-top: 30px;}
	.map_right_des.pro_des.partner_lis.ios_tech_break{margin-top: 40px !important;}
	.actualites_sec ul li{width: 100% !important;}
	.just_heading h2{width: 100%;font-size: 50px;}
	.left_img_ser{width: 100%;}
	.map_right_des.change_des{width: 94%;margin-left: 6%;}
	.notre-mission-sec ul li{width: 100%;margin-left: 0;margin-bottom: 20px;}
	#tabs .nav-tabs .nav-link{width: 100%;margin-bottom: 20px;}
	.notre-mission-sec{margin: 70px 0;}
	.heading_partner h2{font-size: 28px;line-height: 40px;}
	.serach_user_area{margin: 0 40%;}
	.page-id-658 .right_side_des h2{color: #080808;}
	.left_repre{width:50%;}
	.right_repre{width: 46%;
		margin-left:4%;
	}
	.left_repre h2{
		font-size:32px;
		line-height:initial;
	}

}
@media all and (min-width: 100px) and (max-width: 600px) {
	 ol.carousel-indicators.sliders {bottom: -10px;}
	.heading_sub h2{font-size: 40px;}
    .just_heading h2{font-size: 28px;}
    .partenaires_sec ul li{width: 100%;margin-left: 0;}
    .partenaires_sec ul li:nth-child(3n+1){margin-left: 0;}
    .partenaires_sec ul li:nth-child(2n+1){margin-left: 0;}
	.search-top-sec h2{font-size: 28px;}
	.search-top-sec form{width: 70%;margin: 0 15%;}
	.status_sec ul li {width: 49%;margin-left: 2%;}
	.status_sec ul li:nth-child(3n+1){margin-left: 2%;}
	.status_sec ul li:nth-child(2n+1){margin-left: 0;}
	.votrebusiness_sec ul li{width: 100%;margin-left: 0;}
	.votrebusiness_sec ul li:nth-child(3n+1){margin-left: 0;}
	.outer_area {min-height: 270px;}
	.heading_and_para h2 {font-size: 28px;}
	.heading_and_para p {font-size: 14px;line-height: 18px;}
	.left_sec_contact{width: 100%;}
	.right_side_form{width: 100%;margin-left: 0;margin-top: 20px;}
	.contact_us {margin: 60px 0 85px;}
	footer ul li {width: 100%; text-align: center;}
	.mb-5.social_icons{text-align: center;margin-bottom: 20px;}
	.copy_right{font-size: 12px;}
	.copy_right_side{font-size: 12px;}
	.votrebusiness_sec ul li:first-child{min-height: 100px;}
	.left_repre{width: 100%;}
	.right_repre{width: 100%;margin-left: 0;}
	.left_map{width: 100%;}
	.map_right_des{width: 100%;margin-left: 0;}
	.contact_us_sec h2{font-size: 26px;margin: 50px 0 20px;}
	.loction_des_area{margin: 10px 0 50px;}
	.document_heading h2{width: 100%;}
	.doc_list ul{margin: 40px 0 50px;}
	.blog_img_below{width: 100%;}
	.blog_img_below h2{font-size: 24px;line-height: 29px;}
	.sommes‑nous.ios_tech_top{margin-bottom: 60px;}
	.right_side_des h2{font-size: 42px;}
	.bottom_sec ul li{width: 100%;margin-left: 0;}
	.serach_user_area {margin: 0 37%;}
	.nouvelles_img img{
		min-height: auto;
	}
	.embed-container iframe {
      height: 300px;
}
	.calender_outer .mec-calendar .mec-calendar-side .mec-next-month, 
	.calender_outer .mec-calendar .mec-calendar-side .mec-previous-month{
		font-size: 8px;
		letter-spacing: initial;
		padding-left: 5px;
		padding-right: 5px;
	}
	.calender_outer .mec-calendar .mec-calendar-header h2{
		font-size:12px;
	}
}
@media all and (min-width: 100px) and (max-width: 480px) {
	.heading_sub h2{font-size: 30px;}
	.nbs-flexisel-nav-left {left: 80% !important;}
    .visiter{font-size: 14px;width: auto;}
    .patner-banner h2{font-size: 26px;}
    .patner-banner p{font-size: 12px;}
	.right_side_des h2{font-size: 32px;}
	.right_side_des{width: 90%;}
	.left_repre h2{font-size: 28px;margin-bottom: 20px;}
	.map_right_des h3{font-size: 32px;}
	a.navbar-brand.logo_header{margin-right: 0;}
    .heading_partner h2{font-size: 20px;line-height: 30px;}
    .partner-des-right p{width: 100%;margin-left: 0;margin-top: 20px;}
    .map_right_des h3{font-size: 20px;}
    .partner_lis h4{font-size: 12px;}
    .map_right_des ul li{font-size: 12px;line-height: 18px;}
    .heading_sec h2{font-size: 20px;line-height: 30px;}
    .sommes‑nous ul li p{font-size: 12px;line-height: 20px;}
	.left_sec_contact_text{font-size: 20px;line-height: 27px;}
	.loction_des_area{margin: 10px 0 30px;}
	.reprehenderit{margin: 50px 0;}
	.serach_user_area {margin: 0 30%;}
    .pop-up-sec{padding: 0px 12px 60px;}
    .input_mail{padding: 15px 10px 14px 10px; width: 62%; font-size:12px;}
    .submit_event{padding: 15px 30px; width: 38%;font-size:14px;}
}

@media all and (min-width: 100px) and (max-width: 370px){
	.calender_outer .mec-calendar .mec-calendar-side{
		width: 100% !important;
		padding:20px 0px !important;
	}
	.calender_outer .mec-calendar-side .mec-calendar-table{
		min-height: auto;
	}

}

/*.private .nav-menu li{*/
/*	height: 100px;*/
/*	line-height: 100px !important;*/
/*	display: inline-block;*/
/*	color: #666;*/
/*	font-family: inherit;*/
/*	font-size: 14px;*/
/*	vertical-align: middle;*/
/*	background: red;*/
/*}*/